.card {
  width: 150px;
  max-width: 150px;
  height: 150px;
  min-height: 150px;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  border: 1px solid gray;
  background-color: rgb(255 255 255);
  margin: 2px;
  animation: fade 2.2s;
}

.card.hide {
  background-color: rgb(255, 0, 0);
}

.card.nonClickable {
  cursor: default;
}

/* 
.card:hover {
  border: 1px solid white;
  background-color: orange;
} */

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
